<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}

<!--for articleのarticleが下のarticle.tags.allのarticleと対応してる-->
{% for article in article_list %}
    <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a> / {{ article.created_at }}
<!--コンテキスト使わないで表示-->
{% for tag in article.tags.all %}
    {{ tag.name }}
{% endfor %}

<a href="{% url 'blog:article_update' article.pk %}">更新</a>
<a href="{% url 'blog:article_delete' article.pk %}">削除</a>
<br>
{% endfor %}
<!--&lt;!&ndash;コンテキスト使って表示&ndash;&gt;-->
<!--{% for tag in tags %}-->
<!--{{ tag.name }}-->
<!--{% endfor %}-->
<p>
<a href="{% url 'blog:article_create' %}">article作成</a>
{% endblock %}


</body>
</html>